output {
  elasticsearch {
    hosts => {{ logstash_elasticsearch_hosts | to_json }}
    index => "%{[type]}-%{+YYYY.MM.dd}"
    document_type => "%{[@metadata][type]}"
    user => "{{ elasticsearch_user }}"
    password => "{{ elasticsearch_password }}"
  }
}
